<h1>
Well done, comrade !
</h1>
<p>
  Title: <%= h @upload.title %>
  <br/>
  File: <%= link_to(@upload.original_filename || @upload.uuid, @upload.uuid) %> (<%= @upload.size / 1024 %> kb)
</p>
<p>
  <%= link_to "Again ?", :action => "new" %>
</p>
